.nav-side {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 80%;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    z-index: 0;
    width: 250px;
    padding-top: 30px;
    background-color: #f2f2f2;
}

.content {
    position: inherit;
    top: inherit;
    bottom: inherit;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}